body{ 
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #117AB1;
    height: fit-content;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 1.4em 1em;
  }
  